# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*

# Logs and temp files
*.log
*.tmp

# Build artifacts
dist/
build/
target/

# Package manager locks
package-lock.json

# download
snapshot
snapshot-test

# Test outputs
__tests__/outputs/
coverage/

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo
